.footer {
  padding-top: 56px;
  padding-bottom: 24px;
  background-color: var(--dark);

  @include small-tablet {
    padding-top: 35px;
  }

  &__top {
    margin-bottom: 73px;
  }

  &__logo {
    grid-column: 6 span;

    @include tablet {
      grid-column: 4 span;
    }
  }

  &__navall {
    display: flex;
    grid-column: 6 span;
    justify-content: space-between;
    gap: 10px;


    @include tablet {
      grid-column: 8 span;
    }

    @include small-tablet {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-column: 4 span;
      // flex-direction: column ;

    }


  }

  &__nav {
    max-width: 155px;

    @include small-tablet {
      // width: 100%;
      display: flex;
      grid-column: 3 span;

    }
  }



  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include small-tablet {
      gap: 10px;
    }


  }

  &__link {

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--light);
    transition: color .2s ease-in-out;



  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__descr {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: var(--light);
  }

  &__link:focus-visible {
    outline: none;
    outline: 1px solid var(--accent);
    outline-offset: 2px;

  }

  &__link:hover {
    outline: none;
    color: rgb(146, 106, 141);

  }

  &__link:active {
    color: rgb(87, 62, 83);



  }
}
