.products {
  padding-bottom: var(--pb);
  position: relative;

  &__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    color: var(--dark);
    margin-bottom: var(--mb);


  }

  &__title2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    color: var(--dark);
    margin-bottom: 12px;

    @include small-desktop {
      font-size: 24px;

    }
  }


  &__item {
    position: relative;
    grid-column: 4 span;
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    min-height: 435px;
    background-color: var(--light-gray);
    box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.69);

    @include tablet {
      min-height: 380px;
    }
  }



  &__img {
    display: block;
    margin: 0 auto;
    margin-bottom: auto;
    background-color: var(--light-gray);

  }

  &__link {

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: var(--accent);
    transition: color .3s ease-in-out;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
    }
  }

  &__link svg path {
    fill: var(--accent);
    transition: fill .3s ease-in-out;
  }

  &__link svg {
    transition: transform .3s ease-in-out;
  }

  &__link:focus-visible {
    outline: none;
    outline: 1px solid var(--accent);
    outline-offset: 2px;
  }

  &__link:hover {
    color: rgb(146, 106, 141);
  }

  &__link:hover svg path {
    fill: rgb(146, 106, 141);

  }

  &__link:hover svg {
    transform: translateX(5px);

  }

  &__link:active {
    color: rgb(87, 62, 83);
  }

  &__link:active svg path {
    fill: rgb(87, 62, 83);

  }


}
