<section class="news">
  <div class="container">
    <h2 class="news__title">Новости</h2>
    <div class="news-wrapper">
      <button class="btn-reset news-btn news-btn--prev">
        <?xml version="1.0" encoding="UTF-8"?>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="512" height="512">
          <g id="_01_align_center" data-name="01 align center">
            <path
              d="M16.752,23.994,6.879,14.121a3,3,0,0,1,0-4.242L16.746.012,18.16,1.426,8.293,11.293a1,1,0,0,0,0,1.414l9.873,9.873Z" />
          </g>
        </svg>

      </button>
      <button class="btn-reset news-btn news-btn--next">
        <?xml version="1.0" encoding="UTF-8"?>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="512" height="512">
          <g id="_01_align_center" data-name="01 align center">
            <path
              d="M7.412,24,6,22.588l9.881-9.881a1,1,0,0,0,0-1.414L6.017,1.431,7.431.017l9.862,9.862a3,3,0,0,1,0,4.242Z" />
          </g>
        </svg>

      </button>
      <div class="news-slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <li class="news__item">
              <img src="../img/news1.jpg" srcset="../img/news1-2x.jpg" alt="news" class="news__img" width="380"
                height="251">
              <div class="news__descr">
                <p class="news__descr-top">
                  НПП &laquo;ПИОНЕР&raquo; подтвердило свои компетенции в&nbsp;области консультирования
                  и&nbsp;изготовления
                </p>
                <div class="news__descr-bottom">
                  <a class="news__desc">
                    Читать далее
                  </a>
                  <time class="news__date" datetime="2020-07-2020">
                    20.07.2020
                  </time>
                </div>
              </div>
            </li>
          </div>
          <div class="swiper-slide">
            <li class="news__item">
              <img src="../img/news2.jpg" srcset="../img/news2-2x.jpg" alt="news" class="news__img" width="380"
                height="251">

              <div class="news__descr">
                <p class="news__descr-top">
                  Поздравляем коллектив регионального представительства &laquo;ПИОНЕР&raquo; с&nbsp;праздником!

                </p>
                <div class="news__descr-bottom">
                  <a class="news__desc">
                    Читать далее
                  </a>
                  <time class="news__date" datetime="2020-07-18">
                    18.07.2020
                  </time>
                </div>
              </div>
            </li>
          </div>
          <div class="swiper-slide">
            <li class="news__item">
              <img src="../img/news3.jpg" srcset="../img/news3-2x.jpg" alt="news" class="news__img" width="380"
                height="251">
              <div class="news__descr">
                <p class="news__descr-top">
                  Перенос сроков проведения запланированных работ в&nbsp;2020 году
                </p>
                <div class="news__descr-bottom">
                  <a class="news__desc">
                    Читать далее
                  </a>
                  <time class="news__date" datetime="2020-06-20">
                    20.06.2020
                  </time>
                </div>
              </div>
            </li>
          </div>
          <div class="swiper-slide">
            <li class="news__item">
              <img src="../img/news1.jpg" srcset="../img/news1-2x.jpg" alt="news" class="news__img" width="380"
                height="251">
              <div class="news__descr">
                <p class="news__descr-top">
                  НПП &laquo;ПИОНЕР&raquo; подтвердило свои компетенции в&nbsp;области консультирования
                  и&nbsp;изготовления
                </p>
                <div class="news__descr-bottom">
                  <a class="news__desc">
                    Читать далее
                  </a>
                  <time class="news__date" datetime="2020-07-2020">
                    20.07.2020
                  </time>
                </div>
              </div>
            </li>
          </div>
        </div>
      </div>
    </div>

    <!-- <ul class="news__list list-reset grid">
      <li class="news__item">
        <img src="../img/news1.jpg" srcset="../img/news1-2x.jpg" alt="news" class="news__img" width="380" height="251">
        <div class="news__descr">
          <p class="news__descr-top">
            НПП &laquo;ПИОНЕР&raquo; подтвердило свои компетенции в&nbsp;области консультирования и&nbsp;изготовления...
          </p>
          <div class="news__descr-bottom">
            <a class="news__desc">
              Читать далее
            </a>
            <time class="news__date" datetime="2020-07-2020">
              20.07.2020
            </time>
          </div>
        </div>
      </li>
      <li class="news__item">
        <img src="../img/news2.jpg" srcset="../img/news2-2x.jpg" alt="news" class="news__img" width="380" height="251">

        <div class="news__descr">
          <p class="news__descr-top">
            Поздравляем коллектив регионального представительства &laquo;ПИОНЕР&raquo; с&nbsp;праздником!

          </p>
          <div class="news__descr-bottom">
            <a class="news__desc">
              Читать далее
            </a>
            <time class="news__date" datetime="2020-07-18">
              18.07.2020
            </time>
          </div>
        </div>
      </li>
      <li class="news__item">
        <img src="../img/news3.jpg" srcset="../img/news3-2x.jpg" alt="news" class="news__img" width="380" height="251">
        <div class="news__descr">
          <p class="news__descr-top">
            Перенос сроков проведения запланированных работ в&nbsp;2020 году
          </p>
          <div class="news__descr-bottom">
            <a class="news__desc">
              Читать далее
            </a>
            <time class="news__date" datetime="2020-06-20">
              20.06.2020
            </time>
          </div>
        </div>
      </li>
    </ul> -->

  </div>
</section>
